* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

#headerName {
    font-size: 90px;
    margin-bottom: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #003061;
}

.icon img{
    height: 256px;
    width: 256px;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.temperature {
    flex-direction: column;
}

.temperature-description {
    font-size: 25px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #09EFC5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.degree-section span{
    margin: 10px;
    font-size: 50px;
}

.degree-section h2{
    font-size: 100px;
}
